# Build artifacts
/android/build/
/ios/.build/
/ios/.swiftpm/

# Tests
/android/src/test/
/ios/Tests/
/coverage/
*.log

# Linters config (can be kept if desired, but often ignored for published package)
.eslintignore
.eslintrc.js
.eslintrc.json
.swiftlint.yml
.ktlint.*

# GitHub specific
.github/

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
